[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
black = "*"
pytest = "*"
pytest-black = "*"
pytest-isort = "*"
pytest-html = "*"
pytest-cov = "*"
pytest-flakes = "*"

[packages]
flask = "*"
gunicorn = "*"
flask-restx = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
